///////////
// VARIABLES PAR DÉFAUT
///////////

// http://demo.studiopress.com/magazine/
$col_main : #e8554e;
$col_dark : #222;

// bleu moyen
$col_hover: #0EBFE9;
$col_logo_blue: #38507E;



//////////////////////
// MIXIN IDEASTREAM
//////////////////////

@mixin labe_idea_front() {
	margin: 20px 0 0;
	font-size: 16px;
	font-weight: 700;
}

@mixin button_max() {
	border: 3px solid #ccc;
	color: $col_hover;
}

@mixin button_max_h() {
	border: 3px solid $col_hover;
}

