///////////
// VARIABLES PAR DÉFAUT
///////////

// http://demo.studiopress.com/magazine/
$col_main : #e8554e;
$col_dark : #222;


//////////////////////
// MIXIN IDEASTREAM
//////////////////////

@mixin labe_idea_front() {
	margin: 20px 0 0;
	font-size: 16px;
	font-weight: 700;
}
