/* BASE */
.mystere {
	display: none;
}


/// DIVERS

.site-inner {
	min-height: 547px;
}

//// ACCUEIL

address {
	font-size: 21px;
	font-style: normal;
	line-height: 31px;
	color: $col_hover;
	a {
		color: $col_hover;
		border-color: $col_hover;
	}
}

//// GRAVITY FORMS

.gform_wrapper select {
	font-size: 15px !important;
}

////  IDEASTREAM


// note single
.idea-footer {
	p {
		margin-bottom: 0px;
	}
	.idea-meta {
		margin-top: 10px;
	}
}

// bouton add new
.ideastream {
	a.wpis-title-button {
		@include button_max();
	}
	a.wpis-title-button:hover {
		@include button_max_h();
	}
}

// idea front add new
#wp-idea-stream {
	.profile-header {
		p {
			margin-bottom: 0;
		}
		.button {
			margin-top: 20px;
			@include button_max();
		}
		.button:hover {
			@include button_max_h();
		}
	}
	.standard-form {
		ul.category-list {
			label {
				font-weight: 300 !important;
			}
		}
		.field-group {
			p {
				@include labe_idea_front();
			}
			label {
				font-weight: 300;
				margin: 5px 0 5px 0;
			}
		}
	}

}
