/* BASE */
.mystere {
	display: none;
}


/// DIVERS

.site-inner {
	min-height: 547px;
}

//// ACCUEIL

.home {
	.entry-header {
		display: none;
	}
}

address {
	font-size: 26px;
	font-style: normal;
	line-height: 32px;
	margin-bottom: 20px;
	color: $col_hover;

	a {
		color: $col_hover;
		border-color: $col_hover;
	}
}

//// GRAVITY FORMS

.gform_wrapper select {
	font-size: 15px !important;
}

//// SIDEBAR

.sidebar {
	.menu-item a {
		font-weight: 300;
	}
}

////  IDEASTREAM


// note single
.idea-footer {
	p {
		margin-bottom: 0px;
	}
	.idea-meta {
		margin-top: 10px;
	}
}

// bouton add new
.ideastream {
	a.wpis-title-button {
		@include button_max();
	}
	a.wpis-title-button:hover {
		@include button_max_h();
	}
}

// idea front add new
#wp-idea-stream {
	.profile-header {
		.user-avatar {
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 0;
		}
		.button {
			margin: 15px 0 10px;
			@include button_max();
			float: right;
			padding: 0px 5px;
		}
		.button:hover {
			@include button_max_h();
		}
		.user-nav {
			clear: both;
		}
	}
	.standard-form {
		ul.category-list {
			label {
				font-weight: 300 !important;
			}
		}
		.field-group {
			p {
				@include labe_idea_front();
			}
			label {
				font-weight: 300;
				margin: 5px 0 5px 0;
			}
			.checkbox {
				display: inline-block;
				margin-right: 12px;
			}
		}
	}

}
