@import "http://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:400,700)";
@import "bourbon";
@import "a-variable-mixin";

//// GENESIS

/*!
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

@import "html5-reset";

/*!
Defaults
---------------------------------------------------------------------------------------------------- */

@import "defaults";

/*!
Structure and Layout
---------------------------------------------------------------------------------------------------- */

@import "structure-layout";

/*!
Common Classes
---------------------------------------------------------------------------------------------------- */

@import "common-classes";

/*!
Widgets
---------------------------------------------------------------------------------------------------- */

@import "widgets";

/*!
Plugins
---------------------------------------------------------------------------------------------------- */

@import "plugins";

/*!
Site Header
---------------------------------------------------------------------------------------------------- */

@import "site-header";

/*!
Site Navigation
---------------------------------------------------------------------------------------------------- */

@import "site-navigation";

/*!
Content Area
---------------------------------------------------------------------------------------------------- */

@import "content-area";

/*!
Sidebars
---------------------------------------------------------------------------------------------------- */

@import "sidebars";

/*!
Footer Widgets
---------------------------------------------------------------------------------------------------- */

@import "footer-widgets";

/*!
Site Footer
---------------------------------------------------------------------------------------------------- */

@import "site-footer";

/*!
gnaction THEME SUP
---------------------------------------------------------------------------------------------------- */

@import "theme-sup";


/*
Used to style the TinyMCE editor.
*/
.mceContentBody {
    background-color: #fff;
}

.mceContentBody.wp-autoresize {
    padding: 10px !important;
    width: 100%;
}
.mceContentBody ul {
    margin-bottom: 26px;
}
.mceContentBody li {
    list-style-type: disc;
    margin-left: 40px;
}
.mceContentBody .wp-caption {
    border: none;
    background: transparent;
    text-align: center;
    margin-bottom: 20px;
    padding: 4px;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.mceContentBody .wp-caption img {
    margin: 5px;
}
.mceContentBody .wp-caption .wp-caption-text {
    margin: 0 0 4px;
}
.mceContentBody .wp-caption .wp-caption-dd {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.mceContentBody .wp-smiley {
    margin:0;
}

